.footer {
    background: var(--black-gradient, linear-gradient(325deg, #20201E -2.33%, #0F0E0E 90.92%));
    padding: ($default-base-spacer * 3) 0;
    color: $light;
    @include media-breakpoint-up(xl) {
        padding: $default-vertical-padding 0;
    }
    .footer-logo {
        img {
            width: 250px;
            margin: 0 auto;
            @include media-breakpoint-up(xl) {
                margin: 0;
            }
        }
    }
    a {
        text-decoration: none;
        color: $white;
        &:hover {
            color: $primary;
        }
    }
    ul.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            a {
                color: $white;
            }
            & + li {
                margin-top: $default-base-spacer * 0.5;
            }
            &:hover {
                a {
                    color: $primary;
                }
            }
        }
    }
}

.subscribe-form {
    gap: $default-base-spacer * 0.5;
    .form-control {
        height: 48px;
        background-color: transparent;
        border: 1px solid rgba($white, 0.2);
        border-radius: 6px;
        color: rgba($white, 0.85);
        &::placeholder {
            color: rgba($white, 0.85);    
        }
        &:focus {
            outline: none;
            box-shadow: none;
            border-color: $primary;
        }
    }
}