// Default variable overrides
$body-font : "Hanken Grotesk", sans-serif;
$heading-font : "Onest", sans-serif;
$line-height: 1;
$default-base-spacer: 1rem;

$default-vertical-padding : 5rem;

// scss-docs-start theme-color-variables
$primary:       #B2724A;
$secondary:     #0C2D2A;
$success:       #198754;
$info:          #0dcaf0;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #FFF8F8;
$dark:          #050608;
// scss-docs-end theme-color-variables

$darkgrey: #111111;




