{{ define "main" }}

<section class="block inner-hero-block page-404 position-relative">
<div class="hero-bg">
  <img src="{{ (resources.Get "images/the-origin-hero-bg.jpg").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100 h-100">
</div>
<div class="container text-center">
  <div class="row justify-content-center pb-lg-3 pt-5">
    <div class="col-12 col-lg-8" data-aos="fade-up" data-aos-duration="500">
        <div class="inner-hero-item px-lg-5 pt-lg-5">
          <h1 class="d-inline-block text-secondary text-uppercase mb-4 pb-lg-2">404</h1>
          <h2 class="text-light mb-3">Opp! Page Not Found</h4>
          <div class="d-flex justify-content-center pt-3">
            <a href="{{ "/" | relURL }}" class="btn btn-primary">Back To Home</a>
          </div>
        </div>
    </div>
  </div>
</div>
</section>

{{ end }}