{{ define "main" }}

<section class="block inner-hero-block position-relative">
<div class="hero-bg">
  <img src="{{ (resources.Get "images/the-origin-hero-bg.jpg").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100 h-100">
</div>
<div class="container text-center">
  <div class="row justify-content-center pb-lg-3 pt-5">
    <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="500">
        <div class="inner-hero-item px-lg-5 pt-lg-5">
          <h1 class="d-inline-block text-secondary text-uppercase mb-4 pb-lg-2">Terms & Conditions</h1>
          <p class="text-light mb-3"><strong>ALL INFORMATION DISPLAYED ON THIS WEBSITE IS AIMED EXCLUSIVELY AT PROFESSIONAL CLIENTS AND NOT INTENDED FOR RETAIL INVESTORS</strong></p>
          <div class="d-flex justify-content-center">
            <a href="https://en.adgm.thomsonreuters.com/rulebook/cobs-24-professional-clients" target="_blank" class="btn btn-primary">Learn More</a>
          </div>
        </div>
    </div>
  </div>
</div>
</section>

<section class="block text-light">
<div class="container">
  <h2><strong>Website Terms of Use and Disclaimer</h2>
  <strong>GENERAL</strong>
<ol>
<li>The following terms and conditions stated in this disclaimer and terms of use (“<strong>Disclaimer</strong>”) govern the use of our website(“<strong>Website</strong>”).</li>
</ol>
<ol>
<li>Use of this Website constitutes your agreement to be bound by the terms and conditions contained in this Disclaimer as well as the Privacy Policy, which is a part and parcel of this Disclaimer between you and The Black Circle PCC Limited, a protected cell company (“<strong>The Black Circle</strong>”) incorporated in the Abu Dhabi Global Market, United Arab Emirates (“<strong>ADGM</strong>”). The Black Circle is managed by Oros Asset Management Limited, registered number 000009278 with the ADGM, licensed and authorised by the Financial Services Regulatory Authority (“<strong>FSRA</strong>”) with the financial services permission number 220084 for the provision of financial services of managing assets, managing a collective investment fund, advising on investments, advising on credit, arranging deals in investments and arranging credit (“<strong>Manager</strong>”).</li>
<li>This Disclaimer may be amended from time to time. You represent and warrant that you are of a legal age to use the services described. You may not accept this Disclaimer if you are not of a legal age to form a binding contract with The Black Circle and the Manager unless you have misrepresented yourself as being of legal age despite knowledge of this requirement. By accepting this Disclaimer, you represent that you have the capacity to be bound by it or if you are acting on behalf of a company or entity that you have the authority to bind such entity You may print or save a copy of this Disclaimer for your records.</li>
</ol>
<ol>
<li>The Black Circle expressly reserves the right to make changes to this Disclaimer, the Website and its contents. Changes to this Disclaimer are effective immediately upon posting of the amended text, content or other information on this Website.</li>
</ol>
<ol>
<li>The Disclaimer and any obligations arising out of or in connection with it shall be governed by and construed in accordance with the laws of Abu Dhabi Global Market, United Arab Emirates. Any dispute arising out of or in connection with the Legal Disclaimer shall be subject to the exclusive jurisdiction of the Courts of the Abu Dhabi Global Market.</li>
</ol>
<strong>INTELLECTUAL PROPERTY RIGHTS</strong>
<ol>
<li>The Black Circle maintains this Website to provide direct access to its information, documents, data and materials (“<strong>Material</strong>”) to those who choose to access and use this Website. The Black Circle maintains this Website for the purposes of providing general information its activities and the Manager's services.</li>
</ol>
<ol>
<li>Unless stated otherwise, The Black Circle owns the copyright, trademark and any other intellectual property related and other rights, titles and interests in relation to the Material.</li>
</ol>
<ol>
<li>You may use, copy, print and download extracts from this Website subject to the following conditions:
<ol>
<li>The Material on this Website may be used only for personal use or for use within an individual firm or organisation. Any Material that you copy or save will only be used for personal viewing purposes or for viewing within the firm or organisation by which they were copied, reproduced or saved;</li>
<li>The Material on this Website will not be reproduced by you or by your individual firm or organisation in any form or manner whatsoever on any platform or public forum without the express written consent of The Black Circle;</li>
<li>Neither pages saved or stored, nor extracts printed, may (subject to the exception in subparagraph d below) will be distributed to third parties or the public, or reprinted in electronic or other forms, in whole or in part, whether for profit or otherwise;</li>
<li>The only permitted exception to the general conditions stated in the subparagraphs (a) to (c) above is where limited extracts/summary/gist of the Material is copied to professionals/third parties for the purposes of obtaining professional advise.</li>
</ol>
</li>
<li>You must not reproduce or store in any form whatsoever any Material in this Website in any other website or include it in any public or private electronic retrieval system or service without The Black Circle's prior written permission.</li>
</ol>
<ol>
<li>You must not use the name or trademarks or logo or graphics of The Black Circle in any advertisement or public announcement or any form of information or documents or records or communication (in whatever form) without The Black Circle's prior written consent. The Website's “look and feel” (including without limitation, the text, graphics, images, logos and button icons appearing on the Website), photographs, editorial content, notices, software (including HTML-based computer programs) and other materials are protected under applicable intellectual property laws. The contents of the Website belong or are licensed to The Black Circle or its software or content suppliers.</li>
</ol>
<ol>
<li>The Black Circle grants you the right to view and use the Website subject to these terms.</li>
</ol>
<strong>DISCLAIMER</strong>
<ol>
<li>The Material contained in the Website is for the purposes of general information only with respect to The Black Circle. While The Black Circle endeavours to keep the keep the Material correct, The Black Circle makes no representations or warranties of any kind, whether express or implied about:
<ol>
<li>the completeness, accuracy, reliability, contemporaneity, suitability, or availability with respect to the contents of this Website, including but not limited to the Material contained on this Website;</li>
<li>the non-infringement, title or fitness for any particular purpose of the contents of this website, including but not limited to the Material contained on this Website; or</li>
<li>the contents available through this Website or any functions associated with this website will be uninterrupted or error-free or that defects will be corrected or that this Website and its server will be free of all viruses or other harmful elements.</li>
</ol>
</li>
<li>The Black Circle does not accept any liability for any damages, loss or claims of any kind, whether under contract or tort or otherwise, including without limitation, any indirect or consequential or special damages or any kind or loss of business or profits howsoever caused and whether as a result of, or in connection with (directly or indirectly):
<ol>
<li>the use of this Website;</li>
<li>reliance on the contents of this Website or the Materials;</li>
<li>any error or omission or defect in the contents of this Website;</li>
<li>any action, inaction or decision taken as a result of or in connection with the use of this Website or any information on this Website; or</li>
<li>any function associated with this Website or any viruses or other harmful elements</li>
</ol>
</li>
<li>Parts of this Website may contain information provided by third parties. These third parties are solely responsible for ensuring that the information they submit is accurate, complete and current and complies with all applicable laws and regulations. The Black Circle is not responsible on any basis whatsoever for any information provided by any third party information on this website.</li>
<li>The information provided on the Website is not intended to be nor is to be relied upon on any basis whatsoever, as a form of legal, financial, tax, investment or other professional advice. Although the Website may provide data, information, or content relating to investment strategies and/or opportunities to buy and/or sell securities, you should not construe any such content as tax, legal, financial or investment or other professional advice. You should consult appropriate professional advisers if you require specific financial or other professional advice.</li>
<li>There are no standards of performance for The Black Circle's Website. The content and all The Black Circle's Services associated with or provided through the Website are provided to you on an “AS-IS” and “AS AVAILABLE” basis.</li>
</ol>
<ol>
<li>None of the information displayed on or downloadable from the Website represents or may be construed as an offer to buy or sell or a solicitation of an offer to buy or sell any security or virtual asset and does not constitute an offer to provide any financial services.</li>
</ol>
<ol>
<li>The information stated in The Black Circle's newsletters and articles has been collected from or generated from publicly available sources and nothing mentioned shall be construed as a recommendation to buy, sell or hold any security or virtual asset or enter into any financial products/service offerings.</li>
</ol>

<strong>YOUR INFORMATION</strong>

&nbsp;
<ol>
<li>Any information provided by You or data generated by your activities on the Website will be available to The Black Circle in order to assist you with the Manager's Services connected with The Black Circle, unless otherwise prohibited by applicable law, rule or regulation. You agree and understand that you are responsible for maintaining the confidentiality of your passwords, unique identification markers and personal data, which, allow you to access any Services through the Website.</li>
</ol>
<ol>
<li>By providing The Black Circle with your e-mail address, you agree to receive all required notices/correspondences/subscriptions to The Black Circle's newsletter electronically addressed to the e-mail address provided by you. It is your duty to update or change that address. Such communications may be in HTML (or if your system does not support HTML, in plain text) in the text of the e-mail or through a link to the appropriate page on its site, accessible through most standard, commercially available internet browsers. If you become aware of any unauthorized use of your Registration Information, you agree to notify The Black Circle immediately.</li>
</ol>
<strong>LINKS IN THIS WEBSITE TO OTHER WEBSITES</strong>
<ol>
<li>The Website offers links, such as hyperlinks or buttons, directing access to third party websites, which enable you to leave this website or open a new tab or window to the third party Website. The Black Circle does not control or monitor these linked websites and shall not be responsible for any materials, information or content posted on these linked websites. The Black Circle is not responsible for the availability of any linked website or any changes or updated to any linked website or any functions associated with any linked website or any viruses or other harmful elements associated, resulting from or connected to any linked website.</li>
</ol>
<ol>
<li>The inclusion of any third party linked websites on this Website does not imply any relationship or association between The Black Circle and the owner of the linked website or any endorsement, sponsorship or approval by The Black Circle of the linked website or its contents. The Black Circle provides links to third party websites solely for your convenience and on a non-reliance basis at your full risk. You are solely responsible for your access to any linked website. You shall use your own judgment, caution, and common sense in using any linked website and should check the privacy policy and terms of use for each linked website. The Black Circle does not accept any responsibility or liability whatsoever for any policy or terms of use for any linked website.</li>
</ol>
<ol>
<li>Third party linked websites may use web measurement tools, customisation technologies and cookies. The Black Circle is not responsible for the privacy practices or the content of other websites, and The Black Circle does not use, share or maintain personal information that is collected by other websites.</li>
</ol>
<strong>OTHER WEBSITE LINKS TO THIS WEBSITE</strong>
<ol>
<li>Except as set out below, links and caching to, and the framing of this Website or any of its contents are prohibited.</li>
</ol>
<ol>
<li>The linking of any third-party websites to this Website is permitted only where the link provided is to The Black Circle homepage. Please note, The Black Circle reserves the rights to disable any link to The Black Circle homepage of this Website where The Black Circle considers the link to be inappropriate.</li>
</ol>
<ol>
<li>In no circumstances shall The Black Circle be considered to be associated or affiliated in any manner whatsoever with any trade or service marks, logos, insignia or other devices used or appearing on websites that link to this Website or any of the contents of this Website.</li>
</ol>
<ol>
<li>The Black Circle disclaims any responsibility for the content available on any other website reached by links to or from this Website or any of the contents of this Website.</li>
</ol>
<strong>ACCESS AND INTERFERENCE</strong>

You agree that you will not:
<ol>
<li>Use any robot, spider, scraper, deep link or other similar automated data gathering or extraction tools, program, algorithm or methodology to access, acquire, copy or monitor the Material or the Website, without The Black Circle's express written consent, which may be withheld in The Black Circle's sole discretion.</li>
</ol>
<ol>
<li>Use or attempt to use engine, software, tool agent, or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search the Website, other than the search engines and search agents available through the Website and other than generally available third-party web browsers (such as Microsoft Internet Explorer);</li>
</ol>
<ol>
<li>Post or transmit any file which contains viruses, worms, Trojan horses or any other contaminating or destructive features or that otherwise interferes with the proper working of the Website; or</li>
</ol>
<ol>
<li>Attempt to decipher, decompile, dissemble or reverse-engineer any of the software comprising or in any way making u a part of the Website.</li>
</ol>
<p><strong>RULES FOR SUBMITTING CONTENT</strong></p>

<p>As a part of The Black Circle's Services, the Website may allow users to submit indication of interest to participate in The Black Circle (directly or indirectly).</p>
<ol>
<li>You are solely responsible for all content you submit in connection with The Black Circle's Website and/or the Manager's services.</li>
</ol>
<ol>
<li>By submitting such content, you represent that you have all necessary rights and hereby grant The Black Circle a perpetual, worldwide, non-exclusive, royalty-free, sublicensable and transferable license to use, reproduce, distribute, prepare derivative works of, modify, display and perform all or any portion of the content in connection with The Black Circle, including without limitation for promoting and redistributing part or all of the Website (and derivative works thereof) in any media formats and through any media channels;</li>
</ol>
<ol>
<li>You may not post or transmit any message which is libelous or defamatory, or which discloses private or personal matters concerning any person. You may not post or transmit any message, data, image or program that is indecent, obscene, pornographic, harassing, threatening, abusive, hateful, racially or ethnically offensive that encourages conduct that would be considered a criminal offense, give rise to civil liability or violate any law, or that is otherwise inappropriate.</li>
</ol>
<ol>
<li>Unsolicited e-amils, mailings, telephone calls, or other communications to individuals or companies whose contact details you obtain through the Website or the Manager's Services or correspondences are prohibited.</li>
</ol>
<p><strong>YOUR INDEMNIFICATION</strong></p>

<p>You shall defend, indemnify and hold harmless The Black Circle, the Manager, their officers, directors, officers, shareholders, employees, agents, representatives, employees, consultants and advisers, from and against all claims and expenses, including but not limited to attorneys' fees, imposed on, incurred by or asserted as a result of or related to: (a) any non-compliance by you with the terms and conditions hereof; or (b) any third-party actions related to your receipt and use of the Website and its content, whether authorised or unauthorized under the Disclaimer. Any cooperation by The Black Circle in such defence is without waiver of any attorney-client, work product or other legal privileges provided under these terms and conditions, as well as, Disclaimer or under applicable law.</p>

<p><strong>COOKIES</strong></p>

<p>The Black Circle uses cookies (more fully described in The Black Circle's cookies policy) exclusively for the Website's functionality purposes.</p>

<p><strong>GOOGLE ANALYTICS</strong></p>

<p>The Black Circle uses Google analytics as a web analytics tool to provide statistical reports to it on the Website's traffic. The statistical reports that The Black Circle receives from Google analytics contain data that is anonymised and aggregated and does not personally identify visitors to the Website.</p>

<p><strong>NOTICES</strong></p>

<p>All notices and other communications required under this Disclaimer shall be in writing and shall be directed to: legal@theblackcircle. Notices shall be deemed to have been duly served upon actual receipt by a party or upon constructive receipt if sent by a certified mail, postage or courier receipt at such address or any other address as any party shall specify by notice to the other party.</p>

<p><strong>MISCELLANEOUS</strong></p>

<p>You agree that if The Black Circle does not exercise or enforce any legal right or remedy which is contained in this Disclaimer or under applicable law, such failure to exercise such right or remedy may not be construed as a waiver by The Black Circle.</p>

<p>This Disclaimer, the cookies policy and the data protection and privacy policy, along with amendments made from time to time, represent the entire understanding and agreement between you and The Black Circle regarding the subject matter of the same and, supersedes all other previous agreements.</p>
</div>
</section>

{{ end }}