<!-- Modal -->
<div class="modal fade show d-block" id="accessModalPopup" tabindex="-1" aria-labelledby="accessModalPopup" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content mt-5">
      <div class="modal-header justify-content-center">
        <h4 class="modal-title text-black fw-semibold">Cross-border Services Restrictions</h4>
      </div>
      <div class="modal-body py-4 px-5">
        <p>Based on your location settings (where they are available to us), it appears you are accessing this site from <strong>outside Switzerland.</strong></p>
        <p>AMINA Bank AG (AMINA) is a Swiss bank, authorized and regulated by the <strong>Swiss Financial Market Supervisory Authority (FINMA).</strong> AMINA's products and services are licensed only in Switzerland, though the products and services may be accessible to clients from other jurisdictions (e.g. when accessed based on a client's initiative).</p>
        <p>This website may contain information that relates specified investments for purposes of the UK Financial Services and Markets Act 2000. The promotion of specified investments to, and access to AMINA's website by, persons in the United Kingdom is directed only at persons who are:</p>
        <ol>
            <li>persons who have professional experience in matters relating to investments falling within Article 19(5) (Investment Professionals) of the Financial Services and Markets Act 2000 (Financial Promotion) Order 2005 (the FPO Order);</li>
            <li>high net worth companies and certain other entities falling within Article 49 (High Net Worth Companies, Unincorporated Associations etc.) of the FPO Order; and</li>
            <li>any other person whom it may lawfully be communicated (together, the UK Relevant Persons).</li>
        </ol>
        <p>The contents of this website are not intended for distribution or use by anyone in the United Kingdom that is not a UK Relevant Person and, accordingly, persons who are not UK Relevant Persons must not rely on this type of information.</p>
        <p>You are welcome to explore AMINA's website at your own initiative. Click 'Continue' if, you are a resident of or domiciled in Switzerland, or would like to visit AMINA's site at your own initiative.</p>
        <p>If you are accessing AMINA's website from the United Kingdom, by clicking 'Continue', you also certify and warrant that you are a UK Relevant Person.</p>
        <p>When choosing 'Continue', it is important to do this on your own initiative and subject to the conditions of this notice, as AMINA is not authorized to promote its products and services outside Switzerland. If you do not wish to visit the site, please click 'Back'.</p>
        <hr>
        <div class="text-body-secondary">
            <p>If you click 'Continue' to explore, please note that you:</p>
            <ol>
                <li>are confirming you have read and understood the above; and</li>
                <li>are accessing AMINA's website at your own initiative, without active promotion or solicitation from AMINA.</li>
                <li>are confirming, where you are accessing AMINA's website from the United Kingdom, that you are a UK Relevant Person.</li>
            </ol>
        </div>
      </div>
      <div class="modal-footer gap-3">
        <button type="button" class="btn btn-secondary btn-back" data-bs-dismiss="modal">Back</button>
        <button type="button" class="btn btn-primary btn-continue">Continue</button>
      </div>
    </div>
  </div>
</div>