<!-- Modal -->
<div class="modal fade" id="accessModalPopup" tabindex="-1" aria-labelledby="accessModalPopup" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="text-black fw-semibold mb-0">Cross-border Services Restrictions</h4>
      </div>
      <div class="modal-body py-4 px-4 px-xl-5">
        <p>Based on your location settings (where they are available to us), it appears you are accessing this site from outside Switzerland.</p>
        <p>The Black Circle AG (The Black Circle) is a Swiss entity, authorized and regulated in accordance with applicable Swiss law. The Black Circle's products and services are licensed only in Switzerland, though they may be accessible to clients from other jurisdictions (e.g., when accessed based on a client's own initiative).</p>
        <p>This website may contain information relating to specified investments for the purposes of the UK Financial Services and Markets Act 2000. The promotion of specified investments to, and access to The Black Circle's website by, persons in the United Kingdom is directed only at persons who are:</p>
        <ol>
            <li>persons with professional experience in matters relating to investments falling within Article 19(5) (Investment Professionals) of the Financial Services and Markets Act 2000 (Financial Promotion) Order 2005 (the FPO Order);</li>
            <li>high net worth companies and certain other entities falling within Article 49 (High Net Worth Companies, Unincorporated Associations etc.) of the FPO Order; and</li>
            <li>any other person to whom it may lawfully be communicated (together, the UK Relevant Persons).</li>
        </ol>
        <p>The contents of this website are not intended for distribution or use by anyone in the United Kingdom who is not a UK Relevant Person, and accordingly, persons who are not UK Relevant Persons must not rely on this type of information.</p>
        <p>You are welcome to explore The Black Circle's website at your own initiative. Click <strong>'Continue'</strong> if you are a resident of or domiciled in Switzerland, or would like to visit The Black Circle's site at your own initiative.</p>
        <p>If you are accessing The Black Circle's website from the United Kingdom, by clicking <strong>'Continue'</strong>, you also certify and warrant that you are a UK Relevant Person.</p>
        <p>When choosing <strong>'Continue'</strong>, it is important to do so on your own initiative and subject to the conditions of this notice, as The Black Circle is not authorized to promote its products and services outside Switzerland. If you do not wish to visit the site, please click <strong>'Back'</strong></p>
        <hr>
        <div class="text-body-secondary">
            <p>If you click <strong>'Continue'</strong> to explore, please note that you:</p>
            <ol>
                <li>confirm you have read and understood the above; and</li>
                <li>are accessing The Black Circle's website at your own initiative, without active promotion or solicitation from The Black Circle;</li>
                <li>confirm, where you are accessing The Black Circle's website from the United Kingdom, that you are a UK Relevant Person.</li>
            </ol>
        </div>
      </div>
      <div class="modal-footer gap-3">
        <button type="button" class="btn btn-secondary btn-back" data-bs-dismiss="modal">Back</button>
        <button type="button" class="btn btn-primary btn-continue" id="btn-continue">Continue</button>
      </div>
    </div>
  </div>
</div>