<div class="zf-templateWidth">
    <form
        action="https://forms.zohopublic.com/orosassetmanagementltd1/form/testmarketing/formperma/CRHc4kAW-MZ-HBAu3yNAag08rkMwfi3M_Xnc04fyfSk/htmlRecords/submit"
        name="form"
        method="POST"
        onSubmit='javascript:document.charset="UTF-8"; return zf_ValidateAndSubmit();'
        accept-charset="UTF-8"
        enctype="multipart/form-data"
        id="form"
    >
        <input type="hidden" name="zf_referrer_name" value="">
        <!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
        <input type="hidden" name="zf_redirect_url" value="">
        <!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
        <input type="hidden" name="zc_gad" value="">
        <!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
        <div class="zf-templateWrapper">
            <ul class="zf-tempHeadBdr d-none">
                <li class="zf-tempHeadContBdr">
                    <p class="zf-frmDesc"></p>
                    <div class="zf-clearBoth"></div>
                </li>
            </ul>
            <div class="zf-subContWrap zf-topAlign">
                <div class="zf-tempFrmWrapper zf-name  zf-namelarge">
                    <label class="zf-labelName">Full Name
                        <em class="zf-important">*</em>
                    </label>
                    <div class="zf-tempContDiv zf-twoType">
                        <div class="zf-nameWrapper">
                            <span>
                                <input
                                    type="text"
                                    maxlength="255"
                                    name="Name_First"
                                    fieldType="7"
                                    placeholder="Enter Full Name"
                                >
                                <label>First Name</label>
                            </span>
                            <span>
                                <input
                                    type="text"
                                    maxlength="255"
                                    name="Name_Last"
                                    fieldType="7"
                                    placeholder=""
                                >
                                <label>Last Name</label>
                            </span>
                            <div class="zf-clearBoth"></div>
                        </div>
                        <p id="Name_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
                    </div>
                    <div class="zf-clearBoth"></div>
                </div>
                <div class="zfgrid_Wrapper">
                    <div class="zftwoColumn zfMultiColGrid">
                        <div class="zfCol">
                            <div class="zf-tempFrmWrapper zf- zf-small ">
                                <label class="zf-labelName">
                                    Phone
                                </label>
                                <div class="zf-tempContDiv zf-phonefld">
                                    <div class="zf-phwrapper zf-phNumber">
                                        <span>
                                            <input
                                                type="text"
                                                compname="PhoneNumber"
                                                name="PhoneNumber_countrycode"
                                                maxlength="20"
                                                checktype="c7"
                                                value=""
                                                phoneFormat="1"
                                                isCountryCodeEnabled="false"
                                                fieldType="11"
                                                id="international_PhoneNumber_countrycode"
                                                valType="number"
                                                phoneFormatType="1"
                                                placeholder=""
                                            >
                                        </span>
                                        <div class="zf-clearBoth"></div>
                                    </div>
                                    <p id="PhoneNumber_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
                                </div>
                                <div class="zf-clearBoth"></div>
                            </div>
                        </div>
                        <div class="zfCol">
                            <div class="zf-tempFrmWrapper  zf-large ">
                                <label class="zf-labelName">
                                    Email
                                    <em class="zf-important"> *</em>
                                </label>
                                <div class="zf-tempContDiv">
                                    <span>
                                        <input
                                            type="text"
                                            name="Email"
                                            checktype="c5"
                                            value=""
                                            maxlength="255"
                                            fieldType="9"
                                            placeholder=""
                                        >
                                    </span>
                                    <p id="Email_error" class="zf-errorMessage" style="display: none;">Invalid value</p>
                                </div>
                                <div class="zf-clearBoth"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="zf-tempFrmWrapper  zf-large ">
                    <label class="zf-labelName">
                        Primary Interest
                        <em class="zf-important"> *</em>
                    </label>
                    <div class="zf-tempContDiv">
                        <select class="zf-form-sBox" name="Dropdown" checktype="c1">
                            <option selected="true" value="-Select-">-Select-</option>
                            <option value="The Black Circle Service">The Black Circle Service</option>
                            <option value="Media">Media</option>
                            <option value="Support">Support</option>
                        </select>
                        <p id="Dropdown_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
                    </div>
                    <div class="zf-clearBoth"></div>
                </div>
                <div class="zf-tempFrmWrapper  zf-large ">
                    <label class="zf-labelName">
                        Additional Information or Specific Requirements
                    </label>
                    <div class="zf-tempContDiv">
                        <span>
                            <textarea
                                name="MultiLine"
                                checktype="c1"
                                maxlength="65535"
                                placeholder=""
                            ></textarea>
                        </span>
                        <p id="MultiLine_error" class="zf-errorMessage" style="display: none;">Invalid value</p>
                    </div>
                    <div class="zf-clearBoth"></div>
                </div>
            </div>
            <div class="zf-fmFooter">
                <button class="zf-submitColor btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">var dateAndMonthRegexFormateArray = zf_SetDateAndMonthRegexBasedOnDateFormate('dd-MMM-yyyy');
var zf_DateRegex = new RegExp(dateAndMonthRegexFormateArray[0]);
var zf_MonthYearRegex = new RegExp(dateAndMonthRegexFormateArray[1]);
var zf_MandArray = [ "Name_First", "Name_Last", "Email", "Dropdown"]; 
var zf_FieldArray = [ "Name_Salutation", "Name_First", "Name_Last", "PhoneNumber_countrycode", "Email", "Dropdown", "MultiLine"]; 
var isSalesIQIntegrationEnabled = false;
var salesIQFieldsArray = [];
</script>
