<section class="block cta-section">
  <div class="block-bg">
    <img src="{{ (resources.Get "images/cta-bg.png").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100">
  </div>
  <div class="container position-relative pt-5 mt-5">
    <div class="row">
      <div class="col-12 col-lg-12 text-center" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase mb-5">Beyond Wealth Management. <br>Inside the Circle.</h2>
      </div>
    </div>
    <div class="row gx-4 gy-4 justify-content-center">
      <!-- Card 1 -->
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">White-Glove Service</h5>
              <p>From the first conversation to final execution, your dedicated relationship manager ensures that every decision is seamless. </p>
            </div>
            <a href="{{ "/request-access/" | relURL }}" class="btn-link">REQUEST ACCESS</a>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">Solutions Created for You</h5>
              <p>If your ambitions go beyond our core offerings, we design bespoke strategies, from specialized financial structures to localized solutions based on your needs and jurisdiction.</p>
            </div>
            <a href="{{ "/request-access/" | relURL }}" class="btn-link">REQUEST ACCESS</a>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="800">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">A Private Financial Club</h5>
              <p>The Black Circle is more than wealth management, it is a private circle where clients connect with crypto pioneers, financial leaders, and entrepreneurs. Through exclusive gatherings, you gain the opportunity to expand your network, exchange insight, and shape the future of digital finance.</p>
            </div>
            <a href="{{ "/request-access/" | relURL }}" class="btn-link">REQUEST ACCESS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>