
<section class="block execution-section">
  <div class="block-bg">
    <img src="{{ (resources.Get "images/map-pic.jpg").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100">
  </div>
  <div class="container position-relative">
    <div class="row align-items-center" data-aos="fade-up" data-aos-duration="500">
      <div class="col-12 col-lg-8 col-xl-6 mb-4 mb-md-0 text-light">
        <h2 class="mb-3 text-uppercase">Where vision meets flawless execution</h2>
        <p> The Black Circle was created to design tailored strategies that match the unique financial needs and ambitions of our clients. We partner with the world’s leading blockchain and institutional providers, ensuring precision, privacy, and excellence at every touchpoint.</p>
        <ul>
          <li>Regulated custody with elite institutional partners</li>
          <li>Specialist yield strategies for secure capital growth</li>
          <li>Institutional lending and credit solutions</li>
          <li>Global regulatory and compliance expertise</li>
        </ul>
      </div>
    </div>
  </div>
</section>