<!-- Section -->
<section class="block future-wealth-section z-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center text-light pb-4" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase">Created to serve those who shape the future of digital wealth</h2>
        <p>The Black Circle was built with a singular purpose: to serve the individuals and organizations driving the next era of capital. Every service is designed to protect, activate, and elevate wealth without compromise.</p>
      </div>
    </div>
    <div class="row row-gap-4">
      <!-- Card 1 -->
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">UHNWIs & Digital Asset Pioneers</h5>
              <p>From traditional investors seeking discreet exposure to digital assets, to Crypto OGs requiring institutional-grade support, we deliver secure custody, lending, and yield strategies tailored to the needs of the most demanding wealth holders.</p>
            </div>
            <a href="{{ "/solutions/uhnws/" | relURL }}" class="btn-link">EXPLORE TAILORED SOLUTIONS</a>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">Private Banks & Family Offices</h5>
              <p>We work with private banks, institutions, and family offices to design unique crypto solutions for their most discerning clients, integrating digital assets into established wealth frameworks with absolute discretion.</p>
            </div>
            <a href="{{ "/solutions/private-bank-health-offices/" | relURL }}" class="btn-link">EXPLORE TAILORED SOLUTIONS</a>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="800">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">Crypto-Native Organizations</h5>
              <p>For crypto foundations, DAOs, and protocol teams, we provide secure treasury management, compliant custody, and institutional liquidity solutions, empowering innovation with a trusted partner at every stage.</p>
            </div>
            <a href="{{ "/solutions/crypto-native-organizations/" | relURL }}" class="btn-link">EXPLORE TAILORED SOLUTIONS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>