{{ $bg := resources.Get "images/holistic-background.png" }}

<section id="holistic-platform" class="block platform-block position-relative">
  <div class="container text-center" style="position: relative; z-index: 2;">
    <h2 class="mb-4">BESPOKE SOLUTIONS FOT ASSET</br>THAT NEVER SLEEP</h2>
    <div class="row step-items justify-content-center align-items-center mb-5">
        <div class="col-12 col-lg-3 step-item">
          <div class="step-item-inner">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="195" height="195" viewBox="0 0 195 195" fill="none">
                <circle cx="97.5" cy="97.5" r="97" stroke="url(#paint0_linear_71_176)"/>
                <defs>
                  <linearGradient id="paint0_linear_71_176" x1="351.946" y1="78.9341" x2="131.128" y2="226.408" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#0C2D2A"/>
                    <stop offset="1" stop-color="#B2724A"/>
                  </linearGradient>
                </defs>
              </svg>
            </span>
            <div class="step-content">
              <h3 class="step-number">01</h3>
              <h6 class="step-name">Bitcoin & Crypto Lending</h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 step-item">
          <div class="step-item-inner">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="195" height="195" viewBox="0 0 195 195" fill="none">
                <circle cx="97.5" cy="97.5" r="97" stroke="url(#paint0_linear_71_176)"/>
                <defs>
                  <linearGradient id="paint0_linear_71_176" x1="351.946" y1="78.9341" x2="131.128" y2="226.408" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#0C2D2A"/>
                    <stop offset="1" stop-color="#B2724A"/>
                  </linearGradient>
                </defs>
              </svg>
            </span>
            <div class="step-content">
              <h3 class="step-number">02</h3>
              <h6 class="step-name">Trading Desk</h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 step-item">
          <div class="step-item-inner">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="195" height="195" viewBox="0 0 195 195" fill="none">
                <circle cx="97.5" cy="97.5" r="97" stroke="url(#paint0_linear_71_176)"/>
                <defs>
                  <linearGradient id="paint0_linear_71_176" x1="351.946" y1="78.9341" x2="131.128" y2="226.408" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#0C2D2A"/>
                    <stop offset="1" stop-color="#B2724A"/>
                  </linearGradient>
                </defs>
              </svg>
            </span>
            <div class="step-content">
              <h3 class="step-number">03</h3>
              <h6 class="step-name">Bitcoin & Crypto Yield Strategies</h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 step-item">
          <div class="step-item-inner">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="195" height="195" viewBox="0 0 195 195" fill="none">
                <circle cx="97.5" cy="97.5" r="97" stroke="url(#paint0_linear_71_176)"/>
                <defs>
                  <linearGradient id="paint0_linear_71_176" x1="351.946" y1="78.9341" x2="131.128" y2="226.408" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#0C2D2A"/>
                    <stop offset="1" stop-color="#B2724A"/>
                  </linearGradient>
                </defs>
              </svg>
            </span>
            <div class="step-content">
              <h3 class="step-number">04</h3>
              <h6 class="step-name">Segregated Custody</h6>
            </div>
          </div>
        </div>
    </div>

    <div class="content">
      <img src="{{ (resources.Get "images/bitcoin.png").RelPermalink }}" alt="The Black Circle" class="img-fluid">
      <h4 class="mb-2">Unlock liquidity without letting go of your crypto.</h4>
      <p class="small px-3 px-md-5">
        Access institutional-grade loans collateralized by Bitcoin and other leading cryptocurrencies. Preserve ownership of your assets while unlocking liquidity to finance new investments, lifestyle needs, or yield strategies. With flexible conditions, elite custody, and white-glove service, we transform digital wealth into real-world capital without compromise.
      </p>
       <a href="" class="btn btn-primary">REQUEST ACCESS</a>
    </div>
  </div>
</section>
