<section id="holistic-platform" class="block platform-block position-relative pb-0">
  <div class="container text-center" style="position: relative; z-index: 2;">
    <h2 class="mb-4" data-aos="fade-up" data-aos-duration="500">BESPOKE SOLUTIONS FOT ASSET</br>THAT NEVER SLEEP</h2>
    <div class="platform-inner-block" data-aos="fade-up" data-aos-duration="700" >
      <div class="step-items platform-slider mb-5 swiper">
        <div class="swiper-wrapper">
          <div class="step-item swiper-slide">
            <div class="step-item-inner">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="195" height="195" viewBox="0 0 195 195" fill="none">
                  <circle cx="97.5" cy="97.5" r="97" stroke="url(#paint0_linear_71_176)"/>
                  <defs>
                    <linearGradient id="paint0_linear_71_176" x1="351.946" y1="78.9341" x2="131.128" y2="226.408" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#0C2D2A"/>
                      <stop offset="1" stop-color="#B2724A"/>
                    </linearGradient>
                  </defs>
                </svg>
              </span>
              <div class="step-content">
                <h3 class="step-number">01</h3>
                <h6 class="step-name">Bitcoin & Crypto Lending</h6>
              </div>
            </div>
          </div>
          <div class="step-item swiper-slide">
            <div class="step-item-inner">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="195" height="195" viewBox="0 0 195 195" fill="none">
                  <circle cx="97.5" cy="97.5" r="97" stroke="url(#paint0_linear_71_176)"/>
                  <defs>
                    <linearGradient id="paint0_linear_71_176" x1="351.946" y1="78.9341" x2="131.128" y2="226.408" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#0C2D2A"/>
                      <stop offset="1" stop-color="#B2724A"/>
                    </linearGradient>
                  </defs>
                </svg>
              </span>
              <div class="step-content">
                <h3 class="step-number">02</h3>
                <h6 class="step-name">Trading Desk</h6>
              </div>
            </div>
          </div>
          <div class="step-item swiper-slide">
            <div class="step-item-inner">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="195" height="195" viewBox="0 0 195 195" fill="none">
                  <circle cx="97.5" cy="97.5" r="97" stroke="url(#paint0_linear_71_176)"/>
                  <defs>
                    <linearGradient id="paint0_linear_71_176" x1="351.946" y1="78.9341" x2="131.128" y2="226.408" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#0C2D2A"/>
                      <stop offset="1" stop-color="#B2724A"/>
                    </linearGradient>
                  </defs>
                </svg>
              </span>
              <div class="step-content">
                <h3 class="step-number">03</h3>
                <h6 class="step-name">Bitcoin & Crypto Yield Strategies</h6>
              </div>
            </div>
          </div>
          <div class="step-item swiper-slide">
            <div class="step-item-inner">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="195" height="195" viewBox="0 0 195 195" fill="none">
                  <circle cx="97.5" cy="97.5" r="97" stroke="url(#paint0_linear_71_176)"/>
                  <defs>
                    <linearGradient id="paint0_linear_71_176" x1="351.946" y1="78.9341" x2="131.128" y2="226.408" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#0C2D2A"/>
                      <stop offset="1" stop-color="#B2724A"/>
                    </linearGradient>
                  </defs>
                </svg>
              </span>
              <div class="step-content">
                <h3 class="step-number">04</h3>
                <h6 class="step-name">Segregated Custody</h6>
              </div>
            </div>
          </div>
          <div class="step-item swiper-slide">
            <div class="step-item-inner">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="195" height="195" viewBox="0 0 195 195" fill="none">
                  <circle cx="97.5" cy="97.5" r="97" stroke="url(#paint0_linear_71_176)"/>
                  <defs>
                    <linearGradient id="paint0_linear_71_176" x1="351.946" y1="78.9341" x2="131.128" y2="226.408" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#0C2D2A"/>
                      <stop offset="1" stop-color="#B2724A"/>
                    </linearGradient>
                  </defs>
                </svg>
              </span>
              <div class="step-content">
                <h3 class="step-number">05</h3>
                <h6 class="step-name">Segregated Custody</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 43 43" fill="none">
          <path d="M13.4381 21.5L26.8756 34.9375L28.7568 33.0562L17.2006 21.5L28.7568 9.94375L26.8756 8.0625L13.4381 21.5Z" fill="url(#paint0_linear_149_350)"/>
          <defs>
            <linearGradient id="paint0_linear_149_350" x1="36.5" y1="37.5" x2="40.5711" y2="20.3239" gradientUnits="userSpaceOnUse">
              <stop stop-color="#0C2D2A"/>
              <stop offset="1" stop-color="#B2724A"/>
            </linearGradient>
          </defs>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 43 43" fill="none">
          <path d="M29.5619 21.5L16.1244 34.9375L14.2432 33.0562L25.7994 21.5L14.2432 9.94375L16.1244 8.0625L29.5619 21.5Z" fill="url(#paint0_linear_149_352)"/>
          <defs>
            <linearGradient id="paint0_linear_149_352" x1="6.5" y1="37.5" x2="2.42888" y2="20.3239" gradientUnits="userSpaceOnUse">
              <stop stop-color="#0C2D2A"/>
              <stop offset="1" stop-color="#B2724A"/>
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</section>

<section class="block platform-content-block pt-0" data-aos="fade-up" data-aos-duration="700">
  <div class="block-bg">
    <img src="{{ (resources.Get "images/crypto-bg.png").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100">
  </div>
  <div class="container">
    <div class="platform-content-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-light">
              <img src="{{ (resources.Get "images/bitcoin.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" width="140px">
              <h4 class="mb-3">Unlock liquidity without letting go of your crypto.</h4>
              <p> Access institutional-grade loans collateralized by Bitcoin and other leading cryptocurrencies. Preserve ownership of your assets while unlocking liquidity to finance new investments, lifestyle needs, or yield strategies. </p>
              <div class="d-flex justify-content-center pt-3">
                <a href="#" class="btn btn-primary">REQUEST ACCESS</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-light">
              <img src="{{ (resources.Get "images/bitcoin.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" width="140px">
              <h4 class="mb-3">Unlock liquidity without letting go of your crypto.</h4>
              <p> Access institutional-grade loans collateralized by Bitcoin and other leading cryptocurrencies. Preserve ownership of your assets while unlocking liquidity to finance new investments, lifestyle needs, or yield strategies. With flexible conditions, elite custody, and white-glove service, we transform digital wealth into real-world capital without compromise.</p>
              <div class="d-flex justify-content-center pt-3">
                <a href="#" class="btn btn-primary">REQUEST ACCESS</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-light">
              <img src="{{ (resources.Get "images/bitcoin.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" width="140px">
              <h4 class="mb-3">Unlock liquidity without letting go of your crypto.</h4>
              <p> Access institutional-grade loans collateralized by Bitcoin and other leading cryptocurrencies. Preserve ownership of your assets while unlocking liquidity to finance new investments, lifestyle needs, or yield strategies. With flexible conditions, elite custody, and white-glove service, we transform digital wealth into real-world capital without compromise.</p>
              <div class="d-flex justify-content-center pt-3">
                <a href="#" class="btn btn-primary">REQUEST ACCESS</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-light">
              <img src="{{ (resources.Get "images/bitcoin.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" width="140px">
              <h4 class="mb-3">Unlock liquidity without letting go of your crypto.</h4>
              <p> Access institutional-grade loans collateralized by Bitcoin and other leading cryptocurrencies. Preserve ownership of your assets while unlocking liquidity to finance new investments, lifestyle needs, or yield strategies. With flexible conditions, elite custody, and white-glove service, we transform digital wealth into real-world capital without compromise.</p>
              <div class="d-flex justify-content-center pt-3">
                <a href="#" class="btn btn-primary">REQUEST ACCESS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
