{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <ul class="menu">
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </ul>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      
      {{- with .Children }}
        {{- $left := where . "Weight" "<=" 4 -}}
        {{- if gt (len $left) 0 }}
          <ul class="sub-menu left-menu-items">
            {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" $left) }}
          </ul>
        {{- end }}

        {{- $right := where . "Weight" ">=" 5 -}}
        {{- if gt (len $right) 0 }}
          <ul class="sub-menu right-menu-items">
            {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" $right) }}
          </ul>
        {{- end }}

      {{- end }}
    </li>
  {{- end }}
{{- end }}
