<!-- Section -->
<section class="block solution-section z-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 text-center" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase mb-5 pb-lg-3">Where crypto wealth meets precision and power</h2>
      </div>
    </div>
     <div class="row justify-content-center">
      <div class="col-12 col-lg-12 col-xl-10">
        <div class="row row-gap-4">
          <!-- Card 1 -->
          <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column">
                <h5 class="mb-3">Bitcoin and Beyond</h5>
                <p>We provide institutional-grade lending, custody, and yield strategies for Bitcoin and other leading cryptocurrencies, elevated with the discretion and finesse of a private circle.</p>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column">
                <h5 class="mb-3">Security Without Compromise</h5>
                <p>From regulated custody to seamless OTC execution, we secure your crypto holdings with institutional infrastructure and uncompromising discretion.</p>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column">
                <h5 class="mb-3">Tailored for the Few <br>Who Matter</h5>
                <p>We design solutions around your needs, delivering flexibility, privacy, and access to elite opportunities across Bitcoin and other cryptocurrencies.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>