<!-- Section -->
<section class="block solution-section z-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 pb-4 text-center">
        <h2 class="text-uppercase">Where crypto wealth meets precision and power</h2>
      </div>
    </div>
     <div class="row justify-content-center">
      <div class="col-12 col-lg-12 col-xl-10">
        <div class="row g-4">
          <!-- Card 1 -->
          <div class="col-12 col-lg-4">
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="mb-3">Bitcoin and Beyond</h5>
                <p>For those who know digital wealth deserves more. <br>We provide institutional-grade lending, custody, and yield strategies for Bitcoin and other leading cryptocurrencies, elevated with the discretion and finesse of a private circle.</p>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col-12 col-lg-4">
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="mb-3">Security Without Compromise</h5>
                <p>Your assets, protected with absolute precision. <br>From regulated custody to seamless OTC execution, we secure your crypto holdings with institutional infrastructure and uncompromising discretion.</p>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="col-12 col-lg-4">
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="mb-3">Tailored for the Few Who</h5>
                <p>No mass market. Only bespoke strategies. <br>We design solutions around your needs, delivering flexibility, privacy, and access to elite opportunities across Bitcoin and other cryptocurrencies.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>