{{ define "main" }}

{{ $solutionbanner := resources.Get "images/request-access.png" }}
<!-- {{ $ctabanner := resources.Get "images/holistic-background.png" }} -->

<section class="block inner-hero-block position-relative" style="background-image: url('{{ $solutionbanner.RelPermalink | safeURL }}');">
  <div class="container text-center">
    <div class="row justify-content-center pb-lg-3">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="500">
          <div class="inner-hero-item">
            <h1 class="text-secondary text-uppercase mb-3">Ready to begin your tailored<br class="d-none d-lg-inline-block"/>journey into digital wealth?</h1>
            <p class="text-light">The Black Circle serves exclusively distinguished high-net-worth individuals, family offices, and institutions who demand institutional-grade digital asset management. </p>
            <p class="text-light">If you are a professional investor, institution, or organization seeking bespoke solutions for digital assets, please fill out the form below.</p> 
            <p class="text-light">A dedicated relationship manager will reach out to you to discuss your needs and guide you through the next steps with complete discretion.</p>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 text-center text-light">
         <h2 class="h4 text-secondary text-uppercase text-center mb-5 pb-lg-4">Contact Form</h2>
        </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="block solution-section z-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 pb-4 text-center" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase">Qualification Requirements</h2>
        <h5 class="mb-3">Exclusive Access. Exceptional Service.</h5>
        <p class="text-light">At The Black Circle, we serve a select group of individuals, family offices, and institutions who meet our internal thresholds and the regulatory standards of the Abu Dhabi Global Market (ADGM) under FSRA supervision.</p>
        <p class="text-light">We ensure every client is classified and onboarded in accordance with FSRA rules, including full AML/KYC procedures and CRS/FATCA compliance.</p>
      </div>
    </div>
     <div class="row justify-content-center">
      <div class="col-12 col-lg-12 col-xl-12">
        <div class="row g-4">
          <div class="col-12 col-lg-8" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="mb-3">For Individual Clients</h5>
                <ul>
                  <li>Minimum 500k USD in digital assets or equivalent in cash and an initial deposit.</li>
                  <li>Demonstrated experience with institutional-grade financial services.</li>
                  <li>Eligible for classification as a Professional Client under FSRA standards.</li>
                  <li>Willingness to complete AML/KYC, Source of Funds, and tax disclosure process.</li>
                </ul>
                <p>What is an FSRA Professional Client?</p>
                <p>A client with at least USD 1 million in net assets (excluding primary residence) and sufficient financial knowledge or experience. Classification affects the level of regulatory protections and required disclosures.</p>
                <div class="d-flex pt-4">
                   <a href="#" class="btn-link text-uppercase">contact us now</a>
               </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="mb-3">For Family Offices & Institutions</h5>
                <ul>
                  <li>Minimum $50M in Assets Under Management.</li>
                  <li>Established investment committee & governance structures.</li>
                  <li>Classified as Professional Clients or Market Counterparties under FSRA.</li>
                  <li>Ability to comply with onboarding requirements including regulatory disclosures.</li>
                </ul>
                <div class="d-flex pt-4">
                   <a href="#" class="btn-link text-uppercase">contact us now</a>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
