{{ define "main" }}

<!-- {{ $solutionbanner := resources.Get "images/solution-hero-banner.png" }} -->
<!-- {{ $ctabanner := resources.Get "images/holistic-background.png" }} -->

<section class="block inner-hero-block position-relative">
  <div class="hero-bg">
  <img src="{{ (resources.Get "images/yield-bg.png").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100 h-100">
</div>
  <div class="container text-center">
    <div class="row justify-content-center pb-lg-3 pt-5 mt-xl-5">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="500">
          <div class="inner-hero-item">
            <h1 class="d-inline-block text-secondary text-uppercase mb-4 pb-lg-2">Generate secure, consistent <br class="d-none d-lg-inline-block"/> yield on Bitcoin and other <br class="d-none d-lg-inline-block"/> cryptocurrencies</h1>
            <p class="text-light">Our yield strategies turn idle Bitcoin into productive assets. Built with institutional providers and risk-managed frameworks, they deliver consistent returns while allowing clients to maintain ownership and long-term exposure.</p>
            <div class="d-flex justify-content-center pt-3">
              <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">Request Access</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="block block-bg-img-style">
  <div class="block-bg top-0 opacity-low">
    <img src="{{ (resources.Get "images/our-values-section-bg-img.jpg").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12" data-aos="fade-up" data-aos-duration="500">
        <h2 class="h4 text-secondary text-uppercase text-center mb-5 pb-lg-3">Why Leading Clients Choose <br class="d-none d-lg-inline-block" /> Our Yield Strategies</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="row row-gap-4">
          <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column">
                <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
                  <img src="{{ (resources.Get "images/bitcoin.png").RelPermalink }}" alt="BTC-first design" class="img-fluid" loading="lazy">
                </div>
                <h5 class="mb-2">BTC-first design</h5>
                <p class="mb-0">Strategies centered on Bitcoin; extended to other leading assets.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column">
                <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
                  <img src="{{ (resources.Get "images/trusted-icon.png").RelPermalink }}" alt="Secure and risk-managed" class="img-fluid" loading="lazy">
                </div>
                <h5 class="mb-2">Secure and risk-managed</h5>
                <p class="mb-0">Built with carefully vetted institutional partners.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column">
                <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
                  <img src="{{ (resources.Get "images/frontal-view-icon.png").RelPermalink }}" alt="Passive growth" class="img-fluid" loading="lazy">
                </div>
                <h5 class="mb-2">Passive growth</h5>
                <p class="mb-0">Transform idle holdings into productive capital.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="900">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column">
                <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
                  <img src="{{ (resources.Get "images/tailored-allocation-icon.png").RelPermalink }}" alt="Tailored allocation" class="img-fluid" loading="lazy">
                </div>
                <h5 class="mb-2">Tailored allocation</h5>
                <p class="mb-0">Adjusted to fit each client's objectives and risk appetite.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="1000">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column">
                <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
                  <img src="{{ (resources.Get "images/balanced-solutions-icon.png").RelPermalink }}" alt="Balanced solutions" class="img-fluid" loading="lazy">
                </div>
                <h5 class="mb-2">Balanced solutions</h5>
                <p class="mb-0">We design yield solutions that balance security with opportunity, offering growth without unnecessary risk.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="500">
        <h2 class="h3 text-secondary text-uppercase text-center mb-5 pb-lg-3">Designed for your unique needs</h2>
      </div>
    </div>
    <div class="row row-gap-4 justify-content-center">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card full-custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between px-lg-5">
            <div class="row align-items-center flex-column-reverse flex-md-row">
              <div class="col-12 col-md-9">
                  <h4 class="d-inline-block text-secondary text-uppercase mb-3 mb-lg-4">uhnwis & Digital Asset Pioneers</h4>
                  <p class="mb-0">Earn yield while continuing to hold your assets long term. This enables wealth to grow steadily without compromising core positions.</p>
              </div>
              <div class="col-12 col-md-3 pb-3 p-xl-4 text-md-center">
                <img src="{{ (resources.Get "images/bitcoin.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="160px">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card full-custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between px-lg-5">
            <div class="row align-items-center">
              <div class="col-12 col-md-3 pb-3 p-xl-4 text-md-center">
                  <img src="{{ (resources.Get "images/trusted-icon.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="160px">
              </div>
              <div class="col-12 col-md-9">
                <h4 class="d-inline-block text-secondary text-uppercase mb-3 mb-lg-4">private banks & Family Offices</h4>
                <p class="mb-0">Integrate digital yield into existing portfolios with trusted, professional strategies. This adds performance while maintaining institutional standards.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card full-custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between px-lg-5">
            <div class="row align-items-center flex-column-reverse flex-md-row">
              <div class="col-12 col-md-9">
                <h4 class="d-inline-block text-secondary text-uppercase mb-3 mb-lg-4">Crypto-Native Organizations</h4>
                <p class="mb-0">Put treasury reserves to work through sustainable yield. This extends financial runway while keeping reserves intact for the future.</p>
              </div>
              <div class="col-12 col-md-3 pb-3 p-xl-4 text-md-center">
                <img src="{{ (resources.Get "images/visionaries.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="160px">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-12">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between">
            <div class="custom-card-heading">
              <h4 class="text-secondary text-uppercase mb-0">UHNWIs & Digital Asset <br class="d-none d-lg-inline-block"/> Pioneers</h4>
            </div>
            <div class="custom-card-content">
              <p class="mb-0">Earn yield while continuing to hold your assets long term. This enables wealth to grow steadily without compromising core positions.</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<section class="block call-to-action">
  <div class="container">
    <div class="w-100 call-to-action-inner p-4 p-lg-5 position-relative d-flex">
      <div class="row align-items-center">
        <!-- Left Column -->
        <div class="col-12 col-lg-12 pe-xl-5 z-1" data-aos="fade-up" data-aos-duration="500">
            <h4 class="mb-3">YOUR TIME TO ENTER THE CIRCLE</h4>
            <p class="mb-4 text-light text-large">Your wealth deserves discretion, trust, and growth. <br>Experience the difference.</p>
            <div class="d-flex pt-4">
              <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">JOIN THE BLACK CIRCLE</a>
            </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-6 call-to-action-pic">
            <img src="{{ (resources.Get "images/call-to-action.png").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100 h-100">
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
