{{ define "main" }}

<!-- {{ $solutionbanner := resources.Get "images/solution-hero-banner.png" }} -->
<!-- {{ $ctabanner := resources.Get "images/holistic-background.png" }} -->

<section class="block inner-hero-block position-relative">
  <div class="hero-bg">
  <img src="{{ (resources.Get "images/tailored-soltuions-bg.jpeg").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100 h-100">
</div>
  <div class="container text-center">
    <div class="row justify-content-center pb-lg-3 pt-5 mt-xl-5">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="500">
          <div class="inner-hero-item">
            <h1 class="text-secondary text-uppercase mb-3">Whatever you need, <br/> we create the solution</h1>
            <p class="text-light">If you require something unique, from personalized strategies, to localized setups aligned with your jurisdiction, we design it exclusively for you. Every request is treated as a custom project, built to match your goals, needs, and ambitions.</p>
            <div class="d-flex justify-content-center pt-3">
              <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">Request Access</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="block block-bg-img-style">
  <div class="block-bg top-0 opacity-low">
    <img src="{{ (resources.Get "images/our-values-section-bg-img.jpg").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12" data-aos="fade-up" data-aos-duration="500">
        <h2 class="h4 text-secondary text-uppercase text-center mb-5 pb-lg-3">Why Leading Clients Choose <br/> Our Tailored Solutions</h2>
      </div>
    </div>
    <div class="row row-gap-4">
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card custom-card-style text-light">
          <div class="card-body d-flex flex-column">
            <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
              <img src="{{ (resources.Get "images/tailored-solutions.png").RelPermalink }}" alt="White-glove service, always-on" class="img-fluid" loading="lazy">
            </div>
            <h5 class="mb-3">White-glove service, always-on</h5>
            <p>A dedicated relationship manager available 24/7, supporting you with precision and discretion.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card custom-card-style text-light">
          <div class="card-body d-flex flex-column">
            <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
              <img src="{{ (resources.Get "images/client-choose.png").RelPermalink }}" alt="Built exclusively for you" class="img-fluid" loading="lazy">
            </div>
            <h5 class="mb-3">Built exclusively for you</h5>
            <p>Tell us what you need, and we will design the exact solution that fits your, objectives, and requirements.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="800">
        <div class="card custom-card custom-card-style text-light">
          <div class="card-body d-flex flex-column">
            <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
              <img src="{{ (resources.Get "images/best-providers-icon.png").RelPermalink }}" alt="Beyond standard offerings" class="img-fluid" loading="lazy">
            </div>
            <h5 class="mb-3">Beyond standard offerings</h5>
            <p>We craft unique strategies that amplify your wealth and support your vision.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="900">
        <div class="card custom-card custom-card-style text-light">
          <div class="card-body d-flex flex-column">
            <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
              <img src="{{ (resources.Get "images/tailored-allocation-icon.png").RelPermalink }}" alt="Strategic amplification" class="img-fluid" loading="lazy">
            </div>
            <h5 class="mb-3">Strategic amplification</h5>
            <p>Whether setting up a new structure, or identifying fresh opportunities, we ensure your capital works harder for you.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="1000">
        <div class="card custom-card custom-card-style text-light">
          <div class="card-body d-flex flex-column">
            <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
              <img src="{{ (resources.Get "images/exclusive-approach-pic.png").RelPermalink }}" alt="Exclusive approach" class="img-fluid" loading="lazy">
            </div>
            <h5 class="mb-3">Exclusive approach</h5>
            <p>Our tailored approach exists because the most discerning clients cannot be served with templates, only with precision and exclusivity.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="500">
        <h2 class="h3 text-secondary text-uppercase text-center mb-5 pb-lg-3">Designed for your unique needs</h2>
      </div>
    </div>

    <div class="row row-gap-4 justify-content-center">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card full-custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between px-lg-5">
            <div class="row align-items-center flex-column-reverse flex-md-row">
              <div class="col-12 col-md-9">
                  <h4 class="d-inline-block text-secondary text-uppercase mb-3 mb-lg-4">uhnwis & Digital Asset Pioneers</h4>
                  <p class="mb-0">We build custom financial pathways that reflect your ambitions, wherever you are and whatever you need.</p>
              </div>
              <div class="col-12 col-md-3 pb-3 p-xl-4 text-md-center">
                <img src="{{ (resources.Get "images/bitcoin.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card full-custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between px-lg-5">
            <div class="row align-items-center">
              <div class="col-12 col-md-3 pb-3 p-xl-4 text-md-center">
                  <img src="{{ (resources.Get "images/trusted-icon.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy">
              </div>
              <div class="col-12 col-md-9">
                <h4 class="d-inline-block text-secondary text-uppercase mb-3 mb-lg-4">private banks & Family Offices</h4>
                <p class="mb-0">We design personalized frameworks that fit your operational requirements, compliance demands, and client expectations.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card full-custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between px-lg-5">
            <div class="row align-items-center flex-column-reverse flex-md-row">
              <div class="col-12 col-md-9">
                <h4 class="d-inline-block text-secondary text-uppercase mb-3 mb-lg-4">Crypto-Native Organizations</h4>
                <p class="mb-0">Strategies, we provide organizations with tailored structures that strengthen their foundations and enable long-term growth.</p>
              </div>
              <div class="col-12 col-md-3 pb-3 p-xl-4 text-md-center">
                <img src="{{ (resources.Get "images/visionaries.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row row-gap-4">
      <div class="col-12" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between">
            <div class="custom-card-heading">
              <h4 class="text-secondary text-uppercase mb-0">UHNWIs & Digital Asset <br class="d-none d-lg-inline-block"/> Pioneers</h4>
            </div>
            <div class="custom-card-content">
              <h6 class="mb-1">No limits, only bespoke.</h6>
              <p class="mb-0">We build custom financial pathways that reflect your ambitions, wherever you are and whatever you need.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between">
            <div class="custom-card-heading">
              <h4 class="text-secondary text-uppercase mb-0">Private Banks & <br class="d-none d-lg-inline-block"/> Family Offices</h4>
            </div>
            <div class="custom-card-content">
              <h6 class="mb-1">Custom structures that integrate seamlessly.</h6>
              <p class="mb-0">We design personalized frameworks that fit your operational requirements, compliance demands, and client expectations.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" data-aos="fade-up" data-aos-duration="800">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between">
            <div class="custom-card-heading">
              <h4 class="text-secondary text-uppercase mb-0">Crypto-Native <br class="d-none d-lg-inline-block"/> Organizations</h4>
            </div>
            <div class="custom-card-content">
              <h6 class="mb-1">Solutions as innovative as you are</h6>
              <p class="mb-0">Strategies, we provide organizations with tailored structures that strengthen their foundations and enable long-term growth.</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>

<section class="block call-to-action">
  <div class="container">
    <div class="w-100 call-to-action-inner p-4 p-lg-5 position-relative d-flex">
      <div class="row align-items-center">
        <!-- Left Column -->
        <div class="col-12 col-lg-12 pe-xl-5 z-1" data-aos="fade-up" data-aos-duration="500">
            <h4 class="mb-3">YOUR TIME TO ENTER THE CIRCLE</h4>
            <p class="mb-4 text-light text-large">Your wealth deserves discretion, trust, and growth. <br>Experience the difference.</p>
            <div class="d-flex pt-4">
              <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">JOIN THE BLACK CIRCLE</a>
            </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-6 call-to-action-pic">
            <img src="{{ (resources.Get "images/call-to-action.png").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100 h-100">
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
