{{ define "main" }}

{{ $solutionbanner := resources.Get "images/solution-hero-banner.png" }}
<!-- {{ $ctabanner := resources.Get "images/holistic-background.png" }} -->

<section class="block inner-hero-block position-relative" style="background-image: url('{{ $solutionbanner.RelPermalink | safeURL }}');">
  <div class="container text-center">
    <div class="row justify-content-center pb-lg-3">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="500">
          <div class="inner-hero-item">
            <h1 class="text-secondary text-uppercase mb-3">Whatever you need, <br/> we create the solution</h1>
            <p class="text-light">If you require something unique, from personalized strategies, to localized setups aligned with your jurisdiction, we design it exclusively for you. Every request is treated as a custom project, built to match your goals, needs, and ambitions.</p>
            <div class="d-flex justify-content-center pt-3">
              <a href="#" class="btn btn-primary">Request Access</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12" data-aos="fade-up" data-aos-duration="500">
        <h2 class="h4 text-secondary text-uppercase text-center mb-4 pb-lg-4">Why Leading Clients Choose <br/> Our Tailored Solutions</h2>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="mb-3">White-glove service, always-on</h5>
            <p>A dedicated relationship manager available 24/7, supporting you with precision and discretion.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="mb-3">Built exclusively for you</h5>
            <p>Tell us what you need, and we will design the exact solution that fits your, objectives, and requirements.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="800">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="mb-3">Beyond standard offerings</h5>
            <p>We craft unique strategies that amplify your wealth and support your vision.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="900">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="mb-3">Strategic amplification</h5>
            <p>Whether setting up a new structure, or identifying fresh opportunities, we ensure your capital works harder for you.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="1000">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="mb-3">Exclusive approach</h5>
            <p>Our tailored approach exists because the most discerning clients cannot be served with templates, only with precision and exclusivity.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block">
  <div class="container">
    <div class="row justify-content-center mb-4 mb-lg-5">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="500">
        <h2 class="h3 text-secondary text-uppercase text-center mb-3">Designed for your unique needs</h2>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-12" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between">
            <div class="custom-card-heading">
              <h4 class="text-secondary text-uppercase mb-0">UHNWIs & Digital Asset <br class="d-none d-lg-inline-block"/> Pioneers</h4>
            </div>
            <div class="custom-card-content">
              <h6 class="mb-1">No limits, only bespoke.</h6>
              <p class="mb-0">We build custom financial pathways that reflect your ambitions, wherever you are and whatever you need.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between">
            <div class="custom-card-heading">
              <h4 class="text-secondary text-uppercase mb-0">Private Banks & <br class="d-none d-lg-inline-block"/> Family Offices</h4>
            </div>
            <div class="custom-card-content">
              <h6 class="mb-1">Custom structures that integrate seamlessly.</h6>
              <p class="mb-0">We design personalized frameworks that fit your operational requirements, compliance demands, and client expectations.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" data-aos="fade-up" data-aos-duration="800">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between">
            <div class="custom-card-heading">
              <h4 class="text-secondary text-uppercase mb-0">Crypto-Native <br class="d-none d-lg-inline-block"/> Organizations</h4>
            </div>
            <div class="custom-card-content">
              <h6 class="mb-1">Solutions as innovative as you are</h6>
              <p class="mb-0">Strategies, we provide organizations with tailored structures that strengthen their foundations and enable long-term growth.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block call-to-action">
  <div class="container">
    <div class="w-100 call-to-action-inner p-4 p-lg-5 position-relative d-flex">
      <div class="row align-items-center">
        <!-- Left Column -->
        <div class="col-12 col-lg-6 pe-xl-5 z-1" data-aos="fade-up" data-aos-duration="500">
            <h4 class="text-uppercase mb-3">Your Time to Enter the Circle</h4>
              <p class="mb-4 text-light text-large">If you are ready to experience exclusive, tailored financial services unlike anything before, with trusted partners who listen, understand, and stand by your side to secure and amplify your wealth, then it's time to take the next step.</p>
              <div class="d-flex pt-4">
                <a href="#" class="btn btn-primary">Join The Black Circle</a>
              </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-6 call-to-action-pic">
            <img src="{{ (resources.Get "images/call-to-action.png").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100 h-100">
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
